services:

  smartflow-api:
    # Asumo que la imagen se construye a partir del Dockerfile en el directorio actual
    build: .
    container_name: smartflow-global-api
    
    ports:
      # Puerto externo (8082) mapeado al puerto interno de FastAPI (8000)
      - "8082:8000"
    
    restart: always
    
    volumes:
      # Monta la carpeta de datos para todos los modelos
      - ./data:/app/data_files
      
    environment:
      - DATA_DIR=/app/data_files
      
      # -------------------------------------------------------------------
      # CLAVE: Usa la variable MODELO_ACTIVO definida en la shell del usuario.
      # Por defecto, carga 'Open-Meteo' si el usuario no especifica nada.
      # La API de Python (main.py) se encarga de dividir la cadena si hay comas.
      - MODELO_ACTIVO=${MODELO_ACTIVO:-Open-Meteo} 
      # -------------------------------------------------------------------

    networks:
      - open_meteo_net

networks:
  open_meteo_net:
    external: true
    name: open-meteo_default